#loancal{
    height: 248px;
    width: 352px;
    background-color: black;
    color: yellow;
    margin-left: 470px;
    margin-top: 189px;
    padding-top: 1px;
    padding-left: 34px;
}
}